<section>
  <div class="container">
    <div class="row">
        <div class="col-sm-3">
          <%= render "layouts/left_sidebar" %>
        </div>
        <div class="col-sm-9 padding-right">
          <div class="features_items"><!--features_items-->
            <h2 class="title text-center"><%= t ".hot_trend" %></h2>
            <% if @hot_products.present? %>
              <%= render @hot_products %>
            <% else %>
              <p style="text-align:center"><%= t "not_found_hot_product" %></p>
            <% end %>
          </div><!--features_items-->
          <div class="features_items"><!--features_items-->
            <h2 class="title text-center"><%= t ".lastest_products" %></h2>
            <% if @products.present? %>
              <%= render @products %>
            <% else %>
              <p><%= t "not_found_product" %></p>
            <% end %>
          </div><!--features_items-->
        </div>
      </div>
  </div>
</section>

