<tr>
  <td><%= order.id %></td>
  <td><%= order.created_at %></td>
  <td><%= order.address %></td>
  <td><%= order.subtotal %> $</td>
  <td class="text_<%= order.status %>">
    <%= order.status %></td>
  <td><%= link_to t(".view_order"), order %></td>
</tr>
