<p><% t ".hello" %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t ".msg_1" %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t ".msg_1" %> <%= @resource.email %>.</p>
<% end %>
