<p><%= t "hello" %> <%= @resource.email %>!</p>

<p><%= t ".msg1" %></p>

<p><%= link_to t(".change_pw"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t ".msg2" %></p>
<p><%= t ".msg3" %>.</p>
