<div class="col-sm-4">
  <div class="product-image-wrapper">
    <div class="single-products">
      <div class="productinfo text-center">
        <%= show_image_for product %>
        <h2><%= product.price%></h2>
        <p><%= product.name %></p>
        <% if product.active? && product.quantity != 0 %>
          <%= link_to t(".add-cart"),"#", class: "btn btn-default add-to-cart"%>
        <% end %>
      </div>
      <div class="product-overlay">
        <div class="overlay-content">
          <h2><%= product.price%></h2>
          <p><%= product.name %></p>
          <% if product.active? && product.quantity != 0 %>
            <%= link_to t(".add-cart"),"#", class: "btn btn-default add-to-cart"%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="choose">
      <ul class="nav nav-pills nav-justified">
        <li></i><%= link_to (t".view-detail"), product %></a></li>
      </ul>
    </div>
  </div>
</div>
