<tr class="row_custom">
  <td class="cell_custom"><%= link_to product.id, product %></td>
  <td class="cell_custom"><%= link_to show_image_for(product), product %></td>
  <td class="cell_custom"><%= link_to product.name, product %></td>
  <td class="cell_custom"><%= product.price %></td>
  <td class="cell_custom"><%= product.quantity %></td>
  <td class="cell_custom"><%= product.active %></td>
  <td class="cell_custom"><%= display_cate_name_by product.category_id %></td>
  <td class="cell_custom">
    <% if current_user.admin? %>
      <%= link_to t("update"), edit_product_path(product) %> |
      <% if product.parameter %>
        <%= link_to t("update_para"), edit_product_parameter_path(product, product.parameter.id) %> |
      <% else %>
        <%= link_to t("update_para"), new_product_parameter_path(product) %> |
      <% end %>
      <%= link_to t("delete"), product, method: :delete, data: { confirm: t("confirm_msg") } %>
    <% end %>
  </td>
</tr>
