<section>
  <div class="container">
    <div class="row">
        <div class="col-sm-3">
          <%= render "layouts/left_sidebar" %>
        </div>

        <div class="col-sm-9 padding-right">
          <div class="features_items"><!--features_items-->
            <h2 class="title text-center"><%= t ".detail" %></h2>
          </div>
          <div class="col-sm-5">
              <div class="view-product">
                <%= show_image_for @product %>
              </div>
            </div>
            <div class="col-sm-7">
              <div class="product-information"><!--/product-information-->
                <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                <h2><%= @product.name %></h2>
                <h2><%= number_with_delimiter(@product.price, delimiter: " ") %> $</h2>
                <span>
                  <label><%= t ".quantity" %><%= @product.quantity %></label>
                  <input type="text" value="3" />
                  <button type="button" class="btn btn-fefault cart">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <%= t ".add_to_cart" %>
                  </button>
                </span>
                <p><b><%= t ".vailability" %></b> <%= display_availability_for @product %></p>
                <br>
                <% if @product.parameter.present? %>
                  <p><b><%= t ".screen" %></b> <%= @product.parameter.screen %></p>
                  <p><b><%= t ".os" %></b> <%= @product.parameter.os %></p>
                  <p><b><%= t ".font_cam" %></b> <%= @product.parameter.camera_front %></p>
                  <p><b><%= t ".back_cam" %></b> <%= @product.parameter.camera_back %></p>
                  <p><b><%= t ".ram" %></b> <%= @product.parameter.ram %></p>
                  <p><b><%= t ".storage" %></b> <%= @product.parameter.memory_storage %></p>
                  <p><b><%= t ".cpu" %></b> <%= @product.parameter.processor %></p>
                <% end %>
              </div><!--/product-information-->
            </div>
          <!--features_items-->
        </div>
      </div>
  </div>
</section>

